doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='http://i0.wp.com/hyperrabbitpowergo.com/wp-content/uploads/2016/02/cropped-badge-1.png?fit=32%2C32' sizes='32x32')
    link(rel='icon' href='http://i0.wp.com/hyperrabbitpowergo.com/wp-content/uploads/2016/02/cropped-badge-1.png?fit=192%2C192' sizes='192x192')
  body
    script(src='/js/jquery.min.js')
    script(src='js/moment.js')

    block content
    
