body {
  background-color: black;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  color: #ff34ff;
}

ul.share-buttons{
  text-align: center;
  list-style: none;
}

ul.share-buttons li{
  display: inline;
}

h1, h2, h3, h4 {
  text-align: center;
}

.tiny {
  text-align: center;
  font-size: 3;
}

div.counter {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

div#player {
  text-align: center;
}

.counterLabel {
  display: block;
  padding: 0px 5px;
}

.background {
  background-image: url(/img/hypnologo_base.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 500px;
}

a {
  color: #00B7FF;
}
