img.bg {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(http://fonts.gstatic.com/s/electrolize/v5/DDy9sgU2U7S4xAwH5thnJ44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  margin-top: 0px;
  font-family: 'Electrolize', sans-serif;
}

h2.counter {
  position: absolute;
  right: 7.5vw;
  bottom: 4.9vh;
  color: #ff34ff;
  font-size: 1vw;
}

ul.share-buttons{
  text-align: center;
  list-style: none;
  margin-right: 5vw;
}

img.social-button {
  vertical-align: middle;
}

ul.share-buttons li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

span.social-button {
  margin-left: 5px;
}

h2 {
  font-size: 1.2vw;
  margin: 0;
}

h3 {
  font-size: 0.8vw;
  margin: 0;
}

.topleft {
  position: relative;
  margin-left: 2.5vw;
  height: 10vh;
  width: 42vw;
}

.bottomleft {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 2.3vh;
  width: 70vw;
  margin-left: 5px;
}

.bottomright {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 6vh;
  width: 39vw;
}

.tiny {
  font-size: 0.8vw;
  margin: 0;
}

div.counter {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

div#player {
  text-align: center;
}

.counterLabel {
  display: block;
  padding: 0px 5px;
}

a {
  color: #00B7FF;
}
